<nav class="navbar navbar-expand fixed-top" style="margin-top:40px;background: rgba(255,146,10,1);
background: -moz-linear-gradient(top, rgba(255,146,10,1) 0%, rgba(255,175,75,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,146,10,1)), color-stop(100%, rgba(255,175,75,1)));
background: -webkit-linear-gradient(top, rgba(255,146,10,1) 0%, rgba(255,175,75,1) 100%);
background: -o-linear-gradient(top, rgba(255,146,10,1) 0%, rgba(255,175,75,1) 100%);
background: -ms-linear-gradient(top, rgba(255,146,10,1) 0%, rgba(255,175,75,1) 100%);
background: linear-gradient(to bottom, rgba(255,146,10,1) 0%, rgba(255,175,75,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#ffaf4b', GradientType=0 );">
    <a class=" navbar-brand " href="../home/ " style="color: #1b1e21;">Ace Parking</a>
    <div class="collapse navbar-collapse ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link " href="../orders/ " style="color: #1b1e21;">Toner Orders</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="../requests/ " style="color: #1b1e21;">IT Requests</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="../administration/ " style="color: #1b1e21;">Administration</a>
            </li>
        </ul>

    </div>
</nav>